<footer class="bg-success">
    <div id="footer-logo">
      <a href="#">     
        <img src="/media/pages/logo_pc.png" style="width:300px;"/>
      </a>
    </div>
    <div class="footer-content">
        <div>
           <a href="https://nakagawatomohiro.pythonanywhere.com/nippo/%E3%83%97%E3%83%A9%E3%82%A4%E3%83%90%E3%82%B7%E3%83%BC%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC/">
                プライバシーポリシー
           </a>
        </div>
        <div>|</div>
        <div>
            <a href="#">
                利用規約
            </a>        
        </div>
        <div>|</div>
        <div>
            <small>Copyright(C) Ikeda tohka Industries Co.,Ltd. All Rights Reserved.</small>
        </div>
    </div>
</footer>